/* ---- Global ---- */
html,
body,
#intro-one {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */
#intro-one #particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

/* ---- Intro: Animated Background ---- */
#intro-one #bg-animated {
   background: linear-gradient(270deg, #25EE8D, #61E5FF);
   background-size: 400% 400%;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: absolute;
   opacity: 0.7;
   -webkit-animation: AnimationName 30s ease infinite;
   -moz-animation: AnimationName 30s ease infinite;
   animation: AnimationName 30s ease infinite;
 }

 @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
 }
 @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
 }
 @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
 }

#intro-one #flex-container{
  padding: 20px;
  margin: -110px 0 0 -180px;
  left: 25%;
  position: absolute;
}

#bg_color_first{background: #61E5FF;}
#bg_color_second{background: #25EE8D;}

#intro-two {background: yellow none repeat scroll 0 0;}
#intro-three {background: red none repeat scroll 0 0;}

#intro-two,
#intro-three {
  margin-top: -20px;
}

#intro-two,
#intro-three {
  height: 500px;
}

#web-present .box nav ul {
  display: flex;
}


/*
####################
## Resposibe Time ##
####################
*/

/* Mobile in Portrait mode */
@media only screen
and (min-width : 320px) {
  /* Intro Center Container */
  #intro-one #flex-container {
    top: 13%;
    left: 0%;
    margin: 0px;
  }
  /* Intro: Logo Style  */
  #intro-one h1,
  #intro-one p {
    color: black;
  }
  #intro-one h1 {
    font-size: 2.6em;
    font-weight: 200;
    text-transform: uppercase;
  }
  #intro-one p {
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 15%;
    text-transform: capitalize;
  }
  #intro-one .logo-line {
    background: black none repeat scroll 0 0;
    height: 10px;
    margin-left: 3px;
    margin-top: -19px;
    width: 282px;
  }

  /* Web Present:   */
  #web-present .title-line,
  #web-present .title p{
    margin: 0 auto;
  }
  #web-present .title{
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  #web-present .title h2,
  #web-present .box nav ul li p{
    text-transform: uppercase;
  }
  #web-present .title h2{
    font-size: 1.5em;
  }
  #web-present .title-line{
    margin-top: 10px;
  }
  #web-present .title p{
    font-size: 1em;
    line-height: 20px;
    width: 93%;
    margin-top: -15px;
  }

  #web-present .title-line{
    height: 5px;
    width: 180px;
    background: #88edef;
  }

  #web-present .box nav ul {
    display: flex;
    flex-direction: column;
  }
  #web-present .box nav ul li {
    background: #e1e1e1 none repeat scroll 0 0;
    text-align: center;
    margin-top: 1px;
    margin-left: -40px;
    padding: 55px 30px 40px;
  }
  #web-present .box nav ul li:last-child {
    margin-right: 0px;
  }
  #web-present .box nav ul li p {
    font-size: 0.9em;
    line-height: 20px;
    font-weight: 300;
  }
}

/* Tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Intro Center Container */
  #intro-one #flex-container{top: 25%;}

  /* Intro: Logo Style  */
  #intro-one h1{font-size: 5.4em;}

  #intro-one p {
    font-size: 2.5em;
    font-weight: 200;
    margin-top: 17%;
  }
  #intro-one .logo-line {
    margin-left: 6px;
    margin-top: -40px;
    width: 573px;
  }
  /* Web Present:   */
  #web-present .title {
    margin-bottom: 150px;
    margin-top: 150px;
  }
  #web-present .box nav ul {
    flex-direction: row;
  }
  #web-present .title p {
    width: 75%;
    font-size: 1.2em;
    line-height: 25px;
  }
   #web-present .title-line{
    width: 435px;
  }
   #web-present .box nav ul li {
    list-style: outside none none;
    padding: 55px 159px 40px;
  }
   #web-present .box nav ul {
    flex-direction: column;
  }
  #web-present .title h2{
    font-size: 2em;
    margin-bottom: 25px;
  }
  #web-present .box nav ul li p {
    font-size: 1.1em;
    line-height: 30px;
  }
 
}

/* Desktop and Laptops computer */
@media only screen
and (min-width : 1224px) {
  /* Intro Center Container */
  #intro-one #flex-container{top: 35%;}

  /* Intro: Logo Style  */
  #intro-one h1,
  #intro-one p{
    color: white;
  }
  #intro-one h1{font-size: 4em;}

  #intro-one p {
    font-weight: 300;
    margin-top: 12%;
  }
  #intro-one .logo-line {
    background: white none repeat scroll 0 0;
    width: 425px;
  }
  /* Web Present:   */
  #web-present{
    padding-right: 20px;
  }
  #web-present .title,
  #web-present .title-line{
    float: right;
    margin: 0px;
  }
  #web-present .title{
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;

  }
  #web-present .title h2,
  #web-present .box nav ul li p{
    text-transform: uppercase;
  }
  #web-present .title h2{
    font-size: 1em;
    margin-bottom: 50px;
  }
  #web-present .title p {
    float: right;
    line-height: 20px;
    width: 34%;
    font-size: 0.9em;
    margin-top: -45px;
  }
  #web-present .title-line{
    height: 5px;
    width: 435px;
    background: #88edef;
  }
  #web-present .box {
    display: inline-block;
    width: 100%;
  }
  #web-present .box nav ul {
    flex-direction: row;
    margin-left: -25px;
  }
   #web-present .box nav ul li:first-child {
    margin-left: 0;
  }
  #web-present .box nav ul li {
    list-style: outside none none;
    margin-right: 45px;
    padding: 35px 53px 25px;
    width: 415px;
  }
  #web-present .box nav ul li p {
    font-size: 0.9em;
    line-height: 20px;
    font-weight: 300;
  }
}
